.content-wrapper {
    align-content: center;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #FAFAFA;
}

.video-container {
    background-color: #FAFAFA;
    padding-bottom: 5%;
}

.budskap-container {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    background-color: #BDDCEB;
}
/*
#video-frame{
    box-shadow: 5px 5px #818181;
    -webkit-box-shadow: 5px 5px 5px #818181;
    -moz-box-shadow: 5px 5px 5px #818181;
}*/

.nav-container{
    background-color: #EEEEEE;
}

.footer-content {
    align-content: center;
    text-align: center;
    border-top: 1px solid #FAFAFA;
}